/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/* variable css */
:root{
    /* font */
    --font1: "open sans-serif";
    /* font-size */
    --big-font-size:2rem;
    --h2-font-size:1.25rem;
    --normal-font-size:0.938rem;
    --header-height:3rem;
    --font-semi:600;
}
.main_video{
    width:100%;
    /* height:100vh; */
    /* background:url(img/WhatsApp\ Video\ 2021-05-13\ at\ 5.42.52\ PM.mp4); */
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    z-index:1;
    color:#fff;
    display:flex;
    align-items:flex-end;
    margin: 0 auto;
    padding: 0;
    opacity: 0.8;
}
.logo{
    position:absolute;
    top:5rem;
    right:10rem;
    width:5rem;
    z-index: inherit 15;
}
nav{
    top: 0;
    margin:0;
    padding: 0;
}
#navbar{
    list-style-type: none;
    background: #83677B;;
    position: sticky;
    width: 100%;
    top: 0;
    margin:0;
    padding: 0;
    box-shadow: 0 2px 16px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 400;
}
nav{
    position: sticky;
    top:0;
    align-items: center;
}
.left_nav img{
    width:7rem;
    margin-left: 2.5rem;
}
.right_nav{
    display: flex;
    flex-flow: inherit;
    align-items: center;
    /* padding: 1.5rem 2rem; */
}
.right_nav li{
    margin-left: 2rem;
}
.right_nav a{
    color:#fff;
    list-style-type: none;
    text-decoration: none;
}
.right_nav a:hover{
    color: black;
    font-size:1.5rem;
    font-weight: 500;
}
.dropdown-menu{
    text-decoration: none;
}
.dropdown-toggle::after{
    margin-right:2rem;
}
#particles.js{
    width: 100%;
}

.intro{
  background: #922F2D;
  height: 600px;
}

.intro-div{
  width: 1000px;
  height: 500px;
  background: #4F1B1D;
  border-radius: 0px 0px 40px 0px;
}

.intro-line{
  position:relative;
  width:5px;
  height:85px;
  background: #F05E2D;
  left:30px;
  top:100px;
}
 .introp1{
   position: relative;
   left: 45px;
   top: 18px;
   font-family: Moul Pali;
   font-size: 40px;
   color: #FFFFFF;
  }

  .introp2{
    position:relative;
    left: 45px;
    top: 5px;
    font-family: Molengo;
    font-size: 30px;
    letter-spacing: 0.1em;
    color: #F05E2D;
}

.introp3{
  width:500px;
  position:relative;
  left: 45px;
  top: 45px;
  font-family: Molengo;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
}

.content{
  height:500px;
  background: #701D1B;
}
